html,
body {
  height: 100%;
}



body {
  
  display: flex;
  align-items: center;background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);  
  padding-top: 40px;
  padding-bottom: 40px;
 
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin :focus-within {
  z-index: 2;
}

.top{
  margin-bottom: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle{
  border-radius: 0;
  margin-bottom: 4px;
}

.bottom {
  
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}